<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>You have received a message form the site's contact Form, from <%= "#{@name }, #{@email }."%></p>
        <p><%=@body %></p>
    </body>
</html>